body {
  margin-top: 50px;
}
h1 {
  font-size: 72px;
  font-weight: bold;
  text-align: right;
  letter-spacing: -8px;
  color: #8a8a8a;
  margin: -20px 0px;
}
p {
  margin: 0px;
  color: #666;
  font-size: 40px;
}
